#root {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #b6b6b6;

  main {
    width: calc(100% - 2rem);
    min-height: calc(100% - 2rem);

    > button.toggle-drawer {
      position: fixed;
      left: 0.5rem;
      top: 0.5rem;
      z-index: 5;

      &:hover {
        background-color: unset;
        border-color: unset;
      }

      &:focus {
        outline: unset;
      }
    }

    > .JoyStack-root {
      background-color: white;
      z-index: 4;
      position: fixed;
      top: 0;
      left: -42rem;
      width: 40vw;
      overflow: hidden;
      height: 100%;
      transition: left ease-out 250ms;
      padding: 3.5rem 1rem 1rem 1rem;

      > div {
        width: 100%;
      }

      &.opened {
        left: 0;
        transition: left ease-in 250ms;
        overflow: auto;
      }


    }

    .MuiCard-root.clip {
      .MuiCheckbox-root {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        z-index: 4;
      }
    }
  }

  div.viewer {
    width: 10vw;
    position: fixed;
    margin: 0.5rem;
    aspect-ratio: 4/3;
    border-radius: 7px;
    z-index: 2;

    &.active {
      z-index: 1;
      margin: 0;
      position: relative;
      height: 100vh;
      width: 100vw;
    }

    video {
      height: 100%;
      aspect-ratio: 4/3;
      border-radius: 7px;
    }

    &.front {
      top: 0;
      left: 2rem;
    }

    &.back {
      top: 0;
      right: 0;
    }

    &.right_repeater {
      bottom: 0;
      right: 0;
    }

    &.left_repeater {
      bottom: 0;
      left: 2rem;
    }

    &.empty-video {
      z-index: 2;
      background-color: #d9d9d9;
      opacity: 0.9;
    }
  }

  #slider {
    z-index: 3;
    position: fixed;
    bottom: 0.3rem;
    right: 0;
    width: 100vw;
    display: flex;
    justify-content: center;

    .JoyStack-root {
      padding: 0 1rem;
      background-color: rgba(255, 255, 255, 0.95);
      border-radius: 25px;
    }

    .MuiSlider-root {
      width: 50vw;
    }
  }

}

.MuiCard-root {
  cursor: pointer;
}
